body
{
  background-color: gray;
}

.pages
{
    float: left;
    background-color: rgba(27, 27, 27, 0.315);
    width: 220px;
}

.pages-button
{
    margin-top: 5px;
    background-color: rgb(59, 59, 59);
    color: red;
    border: rgb(59, 59, 59);
    width: 220px;
}

.main
{
    background-color: rgb(255, 255, 255);
    width: 1260px;
    margin: 0 auto;
}

.title
{
    background-color: rgb(112, 98, 98);
    width: 666px;
    margin: 0 auto;
}

.text-center
{
    margin: 0 auto;
    text-align: center;
}

img
{
    height: 400px;
    max-width: 620px;
}